@font-face {
  font-family: 'PP Neue Corp Tight';
  src: url('https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf') format('opentype');
  font-weight: 700;
}

.osmo-ui {
  z-index: 0;
  flex-flow: column;
}

.nav {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #131313;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  position: relative;
  width: 35em;
  height: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list-item {
  margin-bottom: 1em;
}

.menu-link {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.menu-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
}



