.goals-section {
  padding: 80px 20px;
  background-color: #f4f4f4; /* Light gray background */
  text-align: center;
  color: #333; /* Dark text for readability */
}

.goals-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.goals-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.goals-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

.goals-list li {
  font-size: 1.1rem;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.goals-list li::before {
  content: "✔"; /* Checkmark icon */
  color: white; /* Primary color */
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(2px);
}


html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

#home {
  background-color: #ffeb3b;
}

#about {
  background-color: #03a9f4;
}

#services {
  background-color: #8bc34a;
}

#contact {
  background-color: #e91e63;
}


.contact-section {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
  color: #333;
}

.contact-title {
  font-size: 3rem; /* Make it very large */
  font-weight: 700; /* Bold */
  line-height: 1; /* Compact line spacing */
  font-family: 'PP Neue Corp Tight', sans-serif; /* Use desired font */
  color: black; /* Black text for contrast */
  margin: 0; /* No extra spacing */
  text-transform: uppercase; /* Optional for styling */
  margin-bottom: 20px;
}

.contact-description {
 font-family: 'PP Neue Corp Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px;
}

.contact-info p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.contact-info a {
  color: #ff5722;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.social-link {
  font-size: 1.1rem;
  margin: 0 15px;
  color: #ff5722;
  text-decoration: none;
  font-weight: 600;
}

.social-link:hover {
  color: #e64a19;
}

.nav[data-nav="open"] {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.nav[data-nav="closed"] {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}


.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
}

.overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, var(--color-neutral-900) 85%, #0000);
  justify-content: flex-start;
  align-items: center;
  width: 37.5em;
  height: 100%;
  padding-left: 2em;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
  background: transparent;
}


.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
  display: flex;
}

.overlay-count-row {
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: 5.625em;
  font-weight: 700;
  display: flex;
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.count-heading {
  width: 2ch;
  font-size: 1em;
  line-height: 1;
  margin: 0px;
}

.count-row-divider {
  background-color: var(--color-light);
  width: 2px;
  height: .75em;
  transform: rotate(15deg);
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
}

.button {
  background-color: #0000;
  color: #fff;
  border: 1px solid #fff3;
  border-radius: .4em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  padding: 0;
  display: flex;
  position: relative;
}

.button-arrow {
  flex: none;
  width: 1em;
  height: .75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

.button, .button-overlay{ transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default)}

.button:hover .button-overlay{ transform: scale(1.4); }
.overlay-nav-row:hover:has(.button:hover) .button{ opacity: 0.4; }
.button:hover{ transform: scale(0.85); opacity: 1 !important; }

.main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 28em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity .4s;
  position: relative;
}

[data-slider="slide"]{ opacity: 0.2; }
[data-slider="slide"].active { opacity: 1; } 
[data-slider="slide"].active .slide-caption{ transition-delay:0.3s;} 

.slide-inner {
  border-radius: .5em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

img{
  width:100%;
  height:100;
  object-fit: cover;
}

.slide-caption {
  z-index: 2;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .4em .75em .4em .5em;
  display: flex;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  overflow: hidden;
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}

.caption {
  font-size: .75em;
  font-family: arial;
  margin: 0px;
}

.slide-caption{ transition: transform 0.525s var(--cubic-default), opacity 0.525s var(--cubic-default); transition-delay:0s; }

html:not(.wf-design-mode) .slide-caption{ opacity: 0; transform:translate(-25%, 0px) }
html:not(.wf-design-mode) [data-slider="slide"].active .slide-caption{ opacity: 1; transform:translate(0%, 0px) }


@font-face {
  font-family: 'PP Neue Corp';
  src: url('https://cdn.prod.website-files.com/6717aac16c9ea22eeef1e79e/6717de2d56e40b921572d2d9_PPNeueCorp-TightUltrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.experience {
  padding: 80px 20px;
  background-color: #f4f4f4;
  color: #333;
}

.experience-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.experience-logo {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.experience-details {
  flex: 1;
}

.experience-details h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-company {
  font-size: 1.2rem;
  color: #777;
  margin: 5px 0;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-dates,
.experience-location {
  font-size: 0.9rem;
  color: #555;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-description {
  margin: 15px 0;
  line-height: 1.6;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: 'PP Neue Corp Tight', sans-serif;
}

.experience-skills li {
  background: #e0e0e0;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.9rem;
}


.about {
  padding: 80px 20px;
  background-color: #f9f9f9; /* Light background for contrast */
  color: #333; /* Dark text for readability */
  text-align: center;
}

.about-title {
  font-size: 3rem; /* Make it very large */
  font-weight: 700; /* Bold */
  line-height: 1; /* Compact line spacing */
  font-family: 'PP Neue Corp Tight', sans-serif; /* Use desired font */
  color: black; /* Black text for contrast */
  margin: 0; /* No extra spacing */
  text-transform: uppercase; /* Optional for styling */
  margin-bottom: 20px;
}

.about-description {
  font-family: 'PP Neue Corp Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px;
}

.hero {
  height: 100vh; /* Full screen height */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack title and subtitle vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text alignment */
  margin: 0; /* Remove any default margin */
  background: white; /* Optional, to ensure no background */
}

.hero-title {
  font-size: 8rem; /* Make it very large */
  font-weight: 700; /* Bold */
  line-height: 1; /* Compact line spacing */
  font-family: 'PP Neue Corp Tight', sans-serif; /* Use desired font */
  color: black; /* Black text for contrast */
  margin: 0; /* No extra spacing */
  text-transform: uppercase; /* Optional for styling */
}

.hero .hero-subtitle {
  font-size: 3rem; /* Slightly smaller for subtitle */
  font-weight: 400; /* Normal weight for balance */
  font-family: 'PP Neue Corp Tight', sans-serif; /* Use desired font */
  color: #FF4C24; /* Blue text for styling */
  margin: 10px 0 0; /* Space between title and subtitle */
  text-transform: none; /* Default text case */
}




.hero-content {
  max-width: 600px;
  padding: 20px;
}

@font-face {
  font-family: 'PP Neue Corp Tight';
  src: url('https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.osmo-ui {
  z-index: 0;
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
}

.nav-row {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-logo-row {
  pointer-events: auto;
  justify-content: space-between;
  align-items: center;
  width: 13em;
  display: flex;
}

.nav-logo__wordmark {
  width: 4em;
}

.nav-logo__icon {
  width: 1.5em;
  height: 1.5em;
}

.container {
  z-index: 1;
  max-width: var(--size-container);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container.is--full {
  max-width: 100%;
}

.nav-row__right {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  pointer-events: auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header {
  z-index: 110;
  padding-top: var(--gap);
  position: fixed;
  inset: 0% 0% auto;
}

.website-link {
  white-space: nowrap;
  text-decoration: none;
  position: relative;
}

.website-link.is--alt {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  justify-content: flex-start;
  align-items: center;
  height: 1.5em;
  display: flex;
}

.inline-link__p {
  margin-bottom: 0;
}

.body {
  background-color: var(--color-neutral-300);
  color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
}

p{
  margin: 0px
}

.cloneable {
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
  --menu-padding: 2em;
}

.nav {
  z-index: 100;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  inset: 0%;
}

.overlay {
  z-index: 0;
  cursor: pointer;
  background-color: #13131366;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.menu {
  padding-bottom: var(--menu-padding);
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  padding-top: calc(3 * var(--menu-padding));
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35em;
  height: 100%;
  margin-left: auto;
  position: relative;
  overflow: auto;
}

.menu-bg {
  z-index: 0;
  position: absolute;
  inset: 0%;
}

.menu-inner {
  z-index: 1;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
  position: relative;
  overflow: auto;
}

.bg-panel {
  z-index: 0;
  background-color: var(--color-neutral-300);
  border-top-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  position: absolute;
  inset: 0%;
}

.bg-panel.first {
  background-color: var(--color-primary);
}

.bg-panel.second {
  background-color: var(--color-neutral-100);
}

.menu-list {
  flex-flow: column;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.menu-list-item {
  position: relative;
  overflow: hidden;
}

.menu-link-heading{ text-shadow: 0px 1em 0px var(--color-neutral-200); }

.menu-link {
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: var(--menu-padding);
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.menu-link-heading {
  z-index: 1;
  text-transform: uppercase;
  font-family: PP Neue Corp Tight, Arial, sans-serif;
  font-size: 5.625em;
  font-weight: 700;
  line-height: .75;
  transition: transform .55s cubic-bezier(.65, .05, 0, 1);
  position: relative;
}

.eyebrow {
  z-index: 1;
  color: var(--color-primary);
  text-transform: uppercase;
  font-family: RM Mono, Arial, sans-serif;
  font-weight: 400;
  position: relative;
}

.menu-link-bg {
  z-index: 0;
  background-color: var(--color-neutral-800);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: transform .55s cubic-bezier(.65, .05, 0, 1);
  position: absolute;
  inset: 0%;
  transform: scale3d(1, 0, 1);
}

.menu-details {
  padding-left: var(--menu-padding);
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.p-small {
  font-size: .875em;
  font-family: Arial, Helvetica;
}

.socials-row {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: row;
  display: flex;
}

.p-large {
  font-size: 1.125em;
  font-family: Arial, Helvetica;
}

.text-link {
  text-decoration: none;
  position: relative;
}

.menu-button {
  grid-column-gap: .625em;
  grid-row-gap: .625em;
  justify-content: flex-end;
  align-items: center;
  background-color: #0000;
  margin: -1em;
  padding: 1em;
  display: flex;
  border: none;
}

.menu-button-icon {
  width: 1em;
  height: 1em;
}

.menu-button-text {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 1.125em;
  display: flex;
  overflow: hidden;
  color: black;
  font-family: 'Doto', sans-serif;
}

.icon-wrap {
  transition: transform .4s cubic-bezier(.65, .05, 0, 1);
}

@media (hover:hover){
  
   /* Menu toggle button*/
  .menu-button:hover .icon-wrap{transform: rotate(90deg); }

  /* Menu Large Links */
  .menu-link:hover .menu-link-heading{ transform: translate(0px, -1em); transition-delay: 0.1s; }
  .menu-link:hover .menu-link-bg{ transform: scale(1,1) }

  /* Menu Smaller Links */
  .text-link::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height:1px;
    background: var(--color-primary);
    transform-origin: right center;
    transform: scale(0,1);
    transition: transform 0.4s var(--cubic-default)
  }

  .text-link:hover::after{
    transform-origin: left center;
    transform: scale(1,1);	
  }
  
}

.osmo-icon-svg {
  width: 8em;
}

@media screen and (max-width: 767px) {
  .cloneable{
  	--menu-padding: 1em;
  }
  
  .nav-logo-row {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    width: auto;
  }

  .nav-row__right {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .cloneable-title {
    pointer-events: none;
    width: calc(100% - 5.25em);
    padding-left: 1em;
    position: absolute;
    overflow: hidden;
  }

  .cloneable-title__nr, .cloneable-title__h1 {
    font-size: .875em;
  }

  .clone-in-webflow {
    justify-content: flex-end;
    width: 100%;
    margin-right: 0;
    padding-left: .75em;
  }

  .clone-in-webflow__p {
    display: none;
  }

  .cloneable-title__gradient, .osmo-ui__bg {
    display: block;
  }

  .menu {
    padding-top: calc(6 * var(--menu-padding));
    width: 100%;
  }

  .bg-panel {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .menu-list-item {
    height: 4.5em;
  }

  .menu-link-heading {
    font-size: 4em;
  }

  .socials-row {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .p-large.text-link {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    padding-top: calc(7 * var(--menu-padding));
    padding-bottom: calc(2 * var(--menu-padding));
  }
}
